@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*font-family: 'Open Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*font-family: 'Roboto', sans-serif;
*/


.logos{
    height: 100px;
/*    margin: auto;*/
    background-color: #333333;
}

.menu{
    height: 50px;
    margin: auto;
    background-color: #6EBBFF;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    text-align: center;
}

a{
    color: black;
    text-align: center;
}

a:hover{
    color: white;
}

.stark_logo{
    padding-top: 20px;
}

.avengers_logo{
}

.banner{
    background-image: url("/img/bannerimage_edit.jpg");
/*    background-color: skyblue;*/
    height: 400px;
    margin-bottom: 30px;
/*    text-align: center;*/
}

.title{
    font-family: 'Roboto', sans-serif;
    font-Style: Italic;
    Font-Size: 2rem;
    text-align: Center;
    margin-bottom: 10px;
}

.text{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.products_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.product{
    width: 400px;
    height: 280px;
/*    background-color: skyblue;*/
/*    background-image: */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product_title{
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}

.crops{
    background-image: url("/img/unsplash-crops-edit.jpg");
}

.security{
    background-image: url("/img/security_edit.jpg");
}

.ai{
    background-image: url("/img/ai_edit.jpg");
}

.digital_display{
    background-image: url("/img/digital_display_edit.jpg");
}

.innovation_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}


.innovation_tech{
    height: 300px;
    background-image: url("/img/tech_edit.jpg");
}

.innovation_project{
    height: 300px;
    background-image: url("/img/project_funding_edit.jpg");
}

.innovation_problem{
    height: 300px;
    background-image: url("/img/problem_solving_edit.jpg");
}

.sub_title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.7);;
/*    width: 100%;*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-size: 1.5rem;
}


.contact_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.namebox{
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}

.emailbox{
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}

.subjectbox{
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}

.messagebox{
    height: 245px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}
