@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*font-family: 'Open Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*font-family: 'Roboto', sans-serif;
*/


.logos{
    height: 100px;
/*    margin: auto;*/
    background-color: #333333;
}

.menu{
    height: 50px;
    margin: auto;
    background-color: dodgerblue;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: black;
}

a:hover{
    color: white;
}

/*.stark_logo{ 
}

.avengers_logo{
}*/

.banner{
/*    background-image: url(img/bannerimage.jpg);*/
    position: absolute;
    background-color: skyblue;
    height: 400px;
    margin-bottom: 30px;
    text-align: center;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-Style: Italic;
    Font-Size: 2rem;
    text-align: Center;
    margin-bottom: 10px;
}

.text{
    font-family: 'Open Sans', sans-serif;
}
