@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*font-family: 'Open Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*font-family: 'Roboto', sans-serif;
*/


.logos{
    height: 100px;
    margin: auto;
    background-color: #333333;
}

.menu{
    height: 50px;
    margin: auto;
    background-color: dodgerblue;
}




