div{
    outline: 1px solid pink;
}

body{
    background-color: #441e13;
    
}

.header{
    
}

.logoarea{
    width: 100%;
    float: left;
    padding-top: 40px;
    height: 100px;
}

.logo{
    width: 205px;
    height: 100px;
    float: left;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.slogan{
    width: 380px;
    height: 100px;
    float: left;
    color: #91665d;
/*    padding-top: 25px;*/
    margin-top: 18px;
    font-size: 0.9rem;
    font-family: sans-serif;
}

.nav{
    width: 920px;
    float: left;
    background-color: #39180f;
    height: 62px;
}

.nav ol{
    padding: 18px 10px; 
}

.nav li{
    border-right: 1px solid #D4B364;
    display: block;
    float: left;
    font-family: sans-serif;
    padding: 6px 20px;
    color: #ffffff;
}

.nav li:last-child {
    border-right: none;
}

.active{
    font-weight: bold;
}

.pageintro{
    width: 920px;
    height: 212px;
    background-color: #87a984;
    color: white;
    float: left;
}

.paperplaneimage{
    width:212px;
    height: 212px;
    float: left;
}

.infoheading{
    font-size: 1.0rem;
    color:white;
    float: left;
}

.infoparagraph{
    color: white;
    font-family: sans-serif;
    float: left;
/*    font-size: */
}

.secondnav{
    overflow: hidden;
    width: 200px;
    float: left;
    background-color: #96afac;
    height: 610px;
}

.secondnav li{
    border-right: 1px solid #D4B364;
    display: block;
    float: left;
    font-family: sans-serif;
    padding: 6px 20px;
    color: #ffffff;
}