div{
    outline: 1px solid black;
}

.logoarea{
    width: 100%;
    float: left;
}
.menu{
    width: 100%;
    float: left;
}

.logo{
    width: 200px;
    height: 100px;
    float: left;
}

.slogan{
    width: 700px;
    height: 100px;
    float: left;
}