.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

div{
    outline: 1px solid lime;
}

.header{
    width:900px;
    height:200px;
    background-color: blue;
}

.background{
    width: 920px;
    height: 500px;
    background-color: red;
    float: left;
}

.content{
    width: 350px;
    height: 350px;
    background-color: yellow;
/*    float: left;*/
    margin-left: auto;
    margin-right: auto;
    
    
}

.footnote{
    width: 900px;
    height: 150px;
    background-color: green;
    float: left;
}