@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

div{
/*    outline: 1px solid lime;*/
}

.header{
    background-color: #2D2F3B;
    color: white;
    height: 90px;
}

.nav{
  max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    /* allows centering of position*/
}

.logo{
    float: left;
    margin-top: 35px;
    font-size: 1.4rem;
    
}

.links{
    float: right;
    margin-top: 40px;
    font-size: 0.75rem;
    color: #4B4E61;
}

/*descendant combinator*/
.links a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.links a:hover{
    color: #f06c64;
}

.salmon{
    color: #f06c64;
}

.banner{
    background-color: #f06c64;
    padding: 20px 0;
    text-align: center;
}

.banner img{
    max-width: 780px;
    width: 90%;
}

.services_content{
    margin: 70px 40px;
    
}

.service_heading{
    font-weight: bolder;
    color: #666d89;
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #666d89;
}

.service_paragraph{
    color: #666d89;
    font-size: 1rem;
    padding: 30px 0;
    font-weight: 100;
}

.columns{
/*    text-align: center;*/
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.column{
    float: left;
    padding-left: 30px;
    max-width: 300px;
}

.portfolio_content{
    background-color: #2d303a;
    margin-left: auto;
    margin-right: auto;
}

.portfolio_heading{
    font-weight: bolder;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 1.5rem;
    color: #666d89;
}

.portfolio_paragraph{
    color: #666d89;
    padding-left: 40px;
    padding-top: 20px;
}

.portfolio_nav{
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

.portfolio_nav a{
    color: #666d89;
    text-decoration: none;
    padding-right: 20px;
    padding-bottom: 20px;
/*    border-style: ;*/
}

.portfolio{
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #2d303a;
    height: 700px;
}

.portfolio_nav a:hover{
    color: white;
}

.portfolio_images{
    padding-top: 20px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.about_heading{
    color: #666d89;
    font-size: 1.5rem;
    padding-top: 65px;
    padding-left: 40px;
}

.about_paragraph{
    color: #666d89;
    padding-left: 40px;
    padding-top: 30px;
}

.about_us{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about_images{
    
}

.contact_content{
    background-color: #f06c64;
    height: 800px;
}

.contact_heading{
    font-weight: bolder;
    font-size: 1.5rem;
    color: #f0d8d9;
    padding-left: 40px;
    padding-top: 65px;
}

.contact_paragraph{
    color: #f0d8d9;
    padding-left: 40px;
}

.info{
    width: 700px;
    float: left;
    padding-left: 40px;
}

.namebox{
    width:650px;
    height: 40px;
    background-color: #d6564f;
    
}

.containter{
    width: 200px;
    float: right;
}

.second_heading{
    font-weight: bolder;
    font-size: 1rem;
    color: #f0d8d9;
/*    float: right;*/
}

.second_paragraph{
    color: #f0d8d9;
    font-size: 0.75rem;
/*    float: right;*/
}
