@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.headimage{
    background-image: url(repeatforpattern.jpg);
    height: 550px;
}

.header{
    height: 160px;
}

.doodle{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 5rem;
    height: 200px;
    width: 300px;
    text-align: center;
    border: 10px solid black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.menu_collections{
    float: left;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 5px solid black;
    height: 200px;
    width: 408px;
    text-align: center;
    background-color: #b9e8e1;
}

.menu_recent{
    float: left;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    height: 200px;
    width: 405px;
    text-align: center;
    background-image: url(recentimage.jpg);
}

.menu_about{
    float: left;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 5px solid black;
    border-right: 10px solid black;
    height: 200px;
    width: 408px;
    text-align: center;
    background-color: #f8b7d3;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #b7ebf5;
    text-decoration: none;
}

.recentbody{
    background-image: url(repeatpattern2.jpg);
    height: 1400px;
}

.recent_collections{
    height: 100px;
    width: 300px;
    float: left;
    border: 10px solid black;
    background-color: #b9e8e1;
    margin-left: 75px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
}

.recent_menu{
    height: 100px;
    width: 300px;
    float: left;
    border: 10px solid black;
    background-color: white;
    margin-left: 75px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
}

.recent_about{
    height: 100px;
    width: 300px;
    float: left;
    border: 10px solid black;
    background-color: #f8b7d3;
    margin-left: 75px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
}

.recentbox{
    height: 400px;
    width: 400px;
    border: 10px solid black;
    float: left;
    margin-left: 150px;
    margin-top: 100px;
    background-color: white;
}

.comingsoon{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-top: 20px;
}

.footer{
    height: 100px;
    width: 1250px;
    border: 10px solid black;
    background-color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    text-align: center;
    float: left;
}

.collectionsbody{
    height: 1400px;
    background-image: url(pattern3.jpg)
}

.collections_recent{
    height: 100px;
    width: 300px;
    float: left;
    border: 10px solid black;
    background-color: #ceaed4;
    margin-left: 75px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
}

.collections_menu{
    height: 100px;
    width: 300px;
    float: left;
    border: 10px solid black;
    background-color: white;
    margin-left: 75px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
}

.collections_about{
    height: 100px;
    width: 300px;
    float: left;
    border: 10px solid black;
    background-color: #f8b7d3;
    margin-left: 75px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
}

.collectionbox{
    height: 400px;
    width: 1000px;
    border: 10px solid black;
    margin-left: 100px;
    margin-top: 100px;
    float: left
}
