.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

div{
    outline: 1px solid lime;
}

.header{
    width: 900px;
    height: 200px;
    background-color: blue;
}

.box1{
    height: 150px;
    width: 150px;
    background-color: yellow;
    float: right;
    margin-right: 25px;
    margin-top: 25px
}

.submenu{
    background-color: red;
    height: 500px;
    width: 300px;
    float: left;
}

.content1{
    background-color: red;
    height: 500px;
    float: left;
    width: 600px;
}

.box2{
    height: 170px;
    width: 170px;
    float: left;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 20px;
}

.footnote{
    height: 180px;
    background-color: green;
    width: 900px;
    float: left
}

.box3{
    height: 450px;
    width: 370px;
    background-color: yellow;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}