@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*font-family: 'Open Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*font-family: 'Roboto', sans-serif;
*/


.logos{
    height: 100px;
/*    margin: auto;*/
    background-color: #333333;
    text-align: center;
}

.menu{
    height: 50px;
    margin: auto;
    background-color: #6EBBFF;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    text-align: center;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

a{
    color: black;
    text-align: center;
}

a:hover{
    color: white;
}

.stark_logo{
    padding-top: 20px;
}

.avengers_logo{
}

.banner{
/*    note to self resize image*/
    background-image: url("/Stark_Industries/img/bannerimage_edit.jpg");
    height: 450px;
    margin-bottom: 30px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-Style: Italic;
    Font-Size: 2rem;
    text-align: Center;
    margin-bottom: 10px;
}

.text{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.products_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.product{
    width: 400px;
    height: 280px;
/*    background-color: skyblue;*/
/*    background-image: */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product_title{
    background-color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
}

.product_title a{
    color: white;
}

.product_title a:hover{
    color: #6EBBFF;
}

.crops{
    background-image: url("/Stark_Industries/img/unsplash-crops-edit.jpg");
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

#fancy_crops{
    width: 80%;
}


/*
.fancybox-container:fancy_title{
    background-color: #6EBBFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 80px;
    font-size: 1.3rem;
    font-style: italic;
}*/

.fancybox-container {
    font-family: 'Open Sans', sans-serif;
}

.fancybox-container>h1{
    font-family: 'Roboto', sans-serif;    
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    background-color: #6EBBFF;
}

h1{
    font-family: 'Roboto', sans-serif;    
    font-size: 2.2rem;
    font-style: italic;
    text-align: center;
    background-color: #6EBBFF;
    text-align: center;
    width: 100%;
}

.fancybox-content>fancy_title{
    background-color: #6EBBFF;
}



.security{
    background-image: url("/Stark_Industries/img/security_edit.jpg");
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

#fancy_security{
    width: 80%;
}

.ai{
    background-image: url("/Stark_Industries/img/ai_edit.jpg");
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.digital_display{
    background-image: url("/Stark_Industries/img/digital_display_edit.jpg");
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}


.innovation_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}


.innovation_tech{
    height: 300px;
    background-image: url("/Stark_Industries/img/tech_edit.jpg");
}

.innovation_project{
    height: 300px;
    background-image: url("/Stark_Industries/img/project_funding_edit.jpg");
}

.innovation_problem{
    height: 300px;
    background-image: url("/Stark_Industries/img/problem_solving_edit.jpg");
}

.sub_title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.7);;
/*    width: 100%;*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-size: 1.5rem;
}


.contact_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.forum{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.forum>send_btn{
    text-align: center;
}

.namebox{
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.emailbox{
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.subjectbox{
    height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.messagebox{
    height: 245px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#send_btn{
    height: 50px;
    width: 100%;
    background-color: lawngreen;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    font-weight: bolder;
}

#cancel_btn{
    height: 50px;
    width: 100%;
    background-color: crimson;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    font-weight: bolder;
}

/*body { background-color: red }*/
/*        must be above breakpoints for this to work*/
        #fancy_crops{
            width: 100%;
        }

        #fancy_security{
            width: 100%;
        }

        #fancy_ai{
                width: 100%
            }

        #fancy_digital{
                width: 100%
            }



/* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {
/*            body { background-color: orange }*/
            #fancy_crops{
                width: 80%;
            }
            
            #fancy_security{
            width: 80%;
            }
            
            #fancy_ai{
                width: 80%
            }
            
            #fancy_digital{
                width: 80%
            }
        }

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
/*            body { background-color: yellow }*/
            #fancy_crops{
                width: 60%;
            }
            
            #fancy_security{
            width: 60%;
             }
            
            #fancy_ai{
                width: 60%
            }
            
            #fancy_digital{
                width: 60%
            }
            
            .namebox{
                width: 60%;
            }
            
            .emailbox{
                width: 60%;
            }
            
            .subjectbox{
                width: 60%;
            }
            
            .messagebox{
                width: 60%;
            }
            
            #send_btn{
                width:  60%;
            }
            
            #cancel_btn{
                width:  60%;
            }
            .fancybox-content>img{
                width: 60%;
            }
        }

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
/*            body { background-color: green }*/
            .banner{
                width: 922px;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
/*            body { background-color: blue }*/
        }



